li {
    list-style: none;
}

.header{
  border-bottom: 1px solid #E2E8F0;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

ul li a.active-page
{
  
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  opacity:1;
  
  
}


.navbar {
    display: inline-block;
    margin-left: -15px;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    padding-top: 0px;
    padding-bottom: 0px;
    position:fixed;
    background-color: tomato;
    z-index: 1;
    width: 110%;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 50px;
    height: 6px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
    z-index: 1;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border: none!important;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #e1e3e6;
    opacity:1;
}

.nav-link:hover{
    color: #83d0fa;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 20rem;
        flex-direction: column;
        background-color: #999999;
        color: white;
        width: 100%;
        height: 75%;
        opacity: 0.9;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

.nav-link{
    font-size: 3rem;
    font-weight: 400;
    color: white;
    opacity:1;
}

    .nav-menu.active {
        right: 0;
        
        top: 15%;
    }

    .nav-item {
        margin: 2.5rem 2.5rem;
    }

ul li a.active-page
{
  
  font-size: 3rem;
  font-weight: 700;
  color: white;
  opacity:1;
  
  
}

    .hamburger {
        display: block;
        cursor: pointer;
        margin: 10% 0 0 0 ;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

.navbar {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    margin-top: 10%;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 6vh;
    position: fixed;
    right: 0;
    background-color: transparent;
    
    
}
}



/* The progress bar (scroll indicator) */
.progress-bar {
  height: 0.8vh;
  background: #e5e5e5;
  width: 0%;

    -webkit-transform-origin: 0 100%;
    -webkit-transform: rotate(90deg) ;
    -moz-transform-origin: 0 100%;
    -moz-transform: rotate(90deg);
    -ms-transform-origin: 0 100%;
    -ms-transform: rotate(90deg);
    transform-origin: 0 100%;
    transform: rotate(90deg); 

}

/* The progress container (grey background) */
.progress-container {
  width: 100vh;
}