body {
	
	background-color: #fafafa;

}


.container {
	background-color: white;
	
}

footer{
	width: 100%;
}


.footer-copyright {
	width: 100%;
	text-align: center;
}

.homepage-title {
	width: 100%;
	font-size: 70px;
	text-align: center;
}

.publications-title {
	font-size: 70px;
	text-align: center;
	/*color: blue;*/
}

.navbar-nav .nav-item .nav-link {
    color: #1264c4;
}


.navbar-nav {
	color: #1264c4;
	display: flex;
	width: 100%;
	justify-content:space-around;
	font-size:40px;
}


.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #f5ab3d;
}

table {
	display: flex;
	width: 100%;
	margin:0;
  	text-align: center;
	font-size: 25px;
}

.navbar-toggler{
width: 100%;
height: 100%;
background-color: #ffffff;

}

.navbar.navbar-1 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=1264c4');
float:left;
}

a, a:link {
color: #1264c4;
}

a:hover {
color: #f5ab3d;
text-decoration:none;
}

.pubyears {
text-align:center;
color:black;
padding-top: 10px;
padding-bottom: 10px;
}



